# 10. Working with Datetime
- `df['date'].dt.year, df['date'].dt.month, df['date'].dt.day, Series.dt.hour, Series.dt.minute`: Extract year, month, or day from date.
- `df['date'].dt.weekday`: Get the day of the week.
- `df['date'].dt.is_month_end`: Check if it's the end of the month.
- `df['date'].dt.is_leap_year`: Check if it's a leap year.

In [1]:
import pandas as pd
import numpy as np

# Set a random seed for reproducibility
np.random.seed(42)

# Generate a date range of 20 consecutive days
dates = pd.date_range(start='2023-01-01', periods=20)

# Generate random data for the other columns
temperature = np.random.uniform(low=-10, high=35, size=20)  # Temperature range from -10 to 35
humidity = np.random.uniform(low=20, high=100, size=20)  # Humidity percentage range from 20% to 100%
weather_conditions = ['Sunny', 'Rainy', 'Cloudy', 'Snowy']
weather = np.random.choice(weather_conditions, size=20)  # Randomly select weather condition
wind_speed = np.random.uniform(low=0, high=50, size=20)  # Wind speed range from 0 to 50 km/h

# Create the DataFrame
df = pd.DataFrame({
    'date': dates,
    'temperature': temperature,
    'humidity': humidity,
    'weather': weather,
    'wind_speed': wind_speed
})

print(df)

         date  temperature   humidity weather  wind_speed
0  2023-01-01     6.854305  68.948232  Cloudy   48.479231
1  2023-01-02    32.782144  31.159509   Snowy   38.756641
2  2023-01-03    22.939727  43.371572   Sunny   46.974947
3  2023-01-04    16.939632  49.308947   Snowy   44.741368
4  2023-01-05    -2.979161  56.485599  Cloudy   29.894999
5  2023-01-06    -2.980247  82.814077  Cloudy   46.093712
6  2023-01-07    -7.386237  35.973903   Rainy    4.424625
7  2023-01-08    28.977927  61.138755   Sunny    9.799143
8  2023-01-09    17.050176  67.393166   Snowy    2.261364
9  2023-01-10    21.863266  23.716033   Rainy   16.266517
10 2023-01-11    -9.073698  68.603588   Snowy   19.433864
11 2023-01-12    33.645943  33.641930   Snowy   13.567452
12 2023-01-13    27.459919  25.204127   Rainy   41.436875
13 2023-01-14    -0.444740  95.910843   Rainy   17.837666
14 2023-01-15    -1.817876  97.250563   Rainy   14.046725
15 2023-01-16    -1.746797  84.671788   Rainy   27.134804
16 2023-01-17     3.690901  44.369102   Rainy    7.046211
17 2023-01-18    13.614039  27.813769   Snowy   40.109849
18 2023-01-19     9.437526  74.738642   Rainy    3.727532
19 2023-01-20     3.105311  55.212199   Sunny   49.344347

# pandas.Series.dt.year
- `Series.dt.year[source] `
- ### The year of the datetime.

In [2]:
df['date'].dt.year

0     2023
1     2023
2     2023
3     2023
4     2023
5     2023
6     2023
7     2023
8     2023
9     2023
10    2023
11    2023
12    2023
13    2023
14    2023
15    2023
16    2023
17    2023
18    2023
19    2023
Name: date, dtype: int32

# pandas.Series.dt.month
- ### `Series.dt.month[source]`
- ### The month as January=1, December=12.

In [3]:
df['date'].dt.month

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
Name: date, dtype: int32

# pandas.Series.dt.day
- #### `Series.dt.day[source]`
- #### The day of the datetime.

In [6]:
df['date'].dt.day

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
Name: date, dtype: int32

# pandas.Series.dt.hour
- #### `Series.dt.hour`
- #### The hours of the datetime.

In [7]:
df['date'].dt.hour

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: date, dtype: int32

# pandas.Series.dt.minute
- #### `Series.dt.minute`
- #### The minute of the datetime.

In [8]:
df['date'].dt.minute

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: date, dtype: int32

- # pandas.Series.dt.weekday
- `Series.dt.weekday`
#### The day of the week with Monday=0, Sunday=6.

Return the day of the week. It is assumed the week starts on Monday, which is denoted by 0 and ends on Sunday which is denoted by 6. This method is available on both Series with datetime values (using the dt accessor) or DatetimeIndex.

Returns
:
Series or Index
Containing integers indicating the day number.

In [12]:
df['date'].dt.weekday+1

0     7
1     1
2     2
3     3
4     4
5     5
6     6
7     7
8     1
9     2
10    3
11    4
12    5
13    6
14    7
15    1
16    2
17    3
18    4
19    5
Name: date, dtype: int32

# `Series.dt` Properties and Methods

## 1. `Series.dt.year`
- **Description**: Returns the year of the datetime object.
- **Usage**: `series.dt.year`
- **Example**:
  ```python
  df['year'] = df['date'].dt.year
  ```

## 2. `Series.dt.month`
- **Description**: Returns the month of the datetime object.
- **Usage**: `series.dt.month`
- **Example**:
  ```python
  df['month'] = df['date'].dt.month
  ```

## 3. `Series.dt.day`
- **Description**: Returns the day of the datetime object.
- **Usage**: `series.dt.day`
- **Example**:
  ```python
  df['day'] = df['date'].dt.day
  ```

## 4. `Series.dt.hour`
- **Description**: Returns the hour of the datetime object.
- **Usage**: `series.dt.hour`
- **Example**:
  ```python
  df['hour'] = df['date'].dt.hour
  ```

## 5. `Series.dt.minute`
- **Description**: Returns the minute of the datetime object.
- **Usage**: `series.dt.minute`
- **Example**:
  ```python
  df['minute'] = df['date'].dt.minute
  ```

## 6. `Series.dt.second`
- **Description**: Returns the second of the datetime object.
- **Usage**: `series.dt.second`
- **Example**:
  ```python
  df['second'] = df['date'].dt.second
  ```

## 7. `Series.dt.microsecond`
- **Description**: Returns the microsecond of the datetime object.
- **Usage**: `series.dt.microsecond`
- **Example**:
  ```python
  df['microsecond'] = df['date'].dt.microsecond
  ```

## 8. `Series.dt.nanosecond`
- **Description**: Returns the nanosecond of the datetime object.
- **Usage**: `series.dt.nanosecond`
- **Example**:
  ```python
  df['nanosecond'] = df['date'].dt.nanosecond
  ```

## 9. `Series.dt.date`
- **Description**: Returns the date part of the datetime object.
- **Usage**: `series.dt.date`
- **Example**:
  ```python
  df['only_date'] = df['date'].dt.date
  ```

## 10. `Series.dt.time`
- **Description**: Returns the time part of the datetime object.
- **Usage**: `series.dt.time`
- **Example**:
  ```python
  df['only_time'] = df['date'].dt.time
  ```

## 11. `Series.dt.dayofyear`
- **Description**: Returns the ordinal day of the year.
- **Usage**: `series.dt.dayofyear`
- **Example**:
  ```python
  df['dayofyear'] = df['date'].dt.dayofyear
  ```

## 12. `Series.dt.week`
- **Description**: (deprecated, use `Series.dt.isocalendar().week` instead) Returns the week number of the year.
- **Usage**: `series.dt.week`
- **Example**:
  ```python
  df['week'] = df['date'].dt.isocalendar().week
  ```

## 13. `Series.dt.weekday`
- **Description**: Returns the day of the week with Monday=0, Sunday=6.
- **Usage**: `series.dt.weekday`
- **Example**:
  ```python
  df['weekday'] = df['date'].dt.weekday
  ```

## 14. `Series.dt.dayofweek`
- **Description**: Returns the day of the week with Monday=0, Sunday=6.
- **Usage**: `series.dt.dayofweek`
- **Example**:
  ```python
  df['dayofweek'] = df['date'].dt.dayofweek
  ```

## 15. `Series.dt.day_name`
- **Description**: Returns the name of the day in a week (Monday, Tuesday, etc).
- **Usage**: `series.dt.day_name()`
- **Example**:
  ```python
  df['day_name'] = df['date'].dt.day_name()
  ```

## 16. `Series.dt.month_name`
- **Description**: Returns the name of the month.
- **Usage**: `series.dt.month_name()`
- **Example**:
  ```python
  df['month_name'] = df['date'].dt.month_name()
  ```

## 17. `Series.dt.is_month_start`
- **Description**: Returns True if date is the first day of the month.
- **Usage**: `series.dt.is_month_start`
- **Example**:
  ```python
  df['is_month_start'] = df['date'].dt.is_month_start
  ```

## 18. `Series.dt.is_month_end`
- **Description**: Returns True if date is the last day of the month.
- **Usage**: `series.dt.is_month_end`
- **Example**:
  ```python
  df['is_month_end'] = df['date'].dt.is_month_end
  ```

## 19. `Series.dt.is_quarter_start`
- **Description**: Returns True if date is the first day of the quarter.
- **Usage**: `series.dt.is_quarter_start`
- **Example**:
  ```python
  df['is_quarter_start'] = df['date'].dt.is_quarter_start
  ```

## 20. `Series.dt.is_quarter_end`
- **Description**: Returns True if date is the last day of the quarter.
- **Usage**: `series.dt.is_quarter_end`
- **Example**:
  ```python
  df['is_quarter_end'] = df['date'].dt.is_quarter_end
  ```

## 21. `Series.dt.is_year_start`
- **Description**: Returns True if date is the first day of the year.
- **Usage**: `series.dt.is_year_start`
- **Example**:
  ```python
  df['is_year_start'] = df['date'].dt.is_year_start
  ```

## 22. `Series.dt.is_year_end`
- **Description**: Returns True if date is the last day of the year.
- **Usage**: `series.dt.is_year_end`
- **Example**:
  ```python
  df['is_year_end'] = df['date'].dt.is_year_end
  ```

## 23. `Series.dt.quarter`
- **Description**: Returns the quarter of the date.
- **Usage**: `series.dt.quarter`
- **Example**:
  ```python
  df['quarter'] = df['date'].dt.quarter
  ```

## 24. `Series.dt.is_leap_year`
- **Description**: Returns True if the year is a leap year.
- **Usage**: `series.dt.is_leap_year`
- **Example**:
  ```python
  df['is_leap_year'] = df['date'].dt.is_leap_year
  ```

## 25. `Series.dt.daysinmonth` or `Series.dt.days_in_month`
- **Description**: Returns the number of days in the month of the datetime.
- **Usage**: `series.dt.daysinmonth` or `series.dt.days_in_month`
- **Example**:
  ```python
  df['days_in_month'] = df['date'].dt.daysinmonth
  ```

# Example Usage in a DataFrame

Here's an example demonstrating some of these attributes and methods:

```python
import pandas as pd
import numpy as np

# Sample data
np.random.seed(42)
dates = pd.date_range(start='2023-01-01', periods=20, freq='D')
data = np.random.randn(20)

# Create DataFrame
df = pd.DataFrame({
    'date': dates,
    'value': data
})

# Accessing some datetime properties
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['day_name'] = df['date'].dt.day_name()
df['is_month_start'] = df['date'].dt.is_month_start
df['quarter'] = df['date'].dt.quarter

print(df)
```

This will result in a DataFrame with additional columns that store the extracted datetime properties.